
.crpt-exo button::-moz-focus-inner{border:0;padding:0;margin:0}.crpt-exo{cursor:default;margin-top:30px}.crpt-exo,.crpt-exo .pt-block{font-family:'Exo 2';font-size:15px;line-height:1.2;color:#666;text-align:center}.crpt-exo *,.crpt-exo :after,.crpt-exo :before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.crpt-exo .pt-cols{position:relative;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}.crpt-exo .pt-cols-1{max-width:310px}.crpt-exo .pt-cols-2{max-width:640px}.crpt-exo .pt-cols-3{max-width:970px}.crpt-exo .pt-cols-4{max-width:1300px}.crpt-exo .pt-cols-5{max-width:1640px}.crpt-exo .pt-cols-main{text-align:center;font-size:0}.crpt-exo .pt-cols .pt-col{display:inline-block;max-width:330px;width:100%;vertical-align:bottom}.crpt-exo .pt-line-middle{display:table-cell;vertical-align:middle}.crpt-exo [class*=pt-lines-]{display:table;width:100%}.crpt-exo .pt-lines-2{height:48px}.crpt-exo .pt-lines-3{height:72px}@media (min-width:480px){.crpt-exo .pt-cols-2 .pt-cols-main,.crpt-exo .pt-cols-3 .pt-cols-main,.crpt-exo .pt-cols-4 .pt-cols-main,.crpt-exo .pt-cols-5 .pt-cols-main{margin:0 -10px}.crpt-exo .pt-cols-2 .pt-col,.crpt-exo .pt-cols-3 .pt-col,.crpt-exo .pt-cols-4 .pt-col,.crpt-exo .pt-cols-5 .pt-col{padding:0 10px;width:50%}}@media (min-width:768px){.crpt-exo .pt-cols-3 .pt-col,.crpt-exo .pt-cols-5 .pt-col{width:33.3333%}}.crpt-exo .pt-tooltip{display:none;position:absolute;right:50%;bottom:100%;min-width:200px;font-family:Helvetica,Arial,sans-serif;font-size:13px;color:#fff;font-weight:400;text-align:center;font-style:normal;z-index:100;-webkit-transform:translateX(50%);-moz-transform:translateX(50%);transform:translateX(50%);line-height:1}.crpt-exo .pt-tooltip .pt-tooltip-content{position:relative;background-color:#1a1a1a;padding:3px;display:block;text-align:left;margin-bottom:8px;max-width:100%;border-radius:2px;border:2px solid #1a1a1a}.crpt-exo .pt-tooltip .pt-tooltip-content .pt-tooltip-center-line{display:block;text-align:center;font-size:14px}.crpt-exo .pt-tooltip .pt-tooltip-content .pt-tooltip-center-line span{position:relative;display:inline-block;padding:8px}.crpt-exo .pt-tooltip .pt-tooltip-content .pt-tooltip-center-line span:after,.crpt-exo .pt-tooltip .pt-tooltip-content .pt-tooltip-center-line span:before{content:"";position:absolute;top:50%;height:1px;width:20px;background-color:#404040}.crpt-exo .pt-tooltip .pt-tooltip-content .pt-tooltip-center-line span:before{right:100%}.crpt-exo .pt-tooltip .pt-tooltip-content .pt-tooltip-center-line span:after{left:100%}.crpt-exo .pt-tooltip .pt-tooltip-content .fa{margin:0}.crpt-exo .pt-tooltip .pt-tooltip-content img{max-width:100%}.crpt-exo .pt-tooltip .pt-tooltip-content:after{content:"";position:absolute;top:100%;right:50%;border-style:solid;border-width:8px 8px 0;border-color:none transparent transparent;margin-right:-8px;border-top-color:inherit}.crpt-exo .pt-tooltip .pt-tooltip-content .pt-tooltip-heading{display:block;border-bottom:1px solid #404040;font-size:15px;line-height:1.4;font-weight:700;text-align:center;padding:0 5px 2px;margin-bottom:5px}.crpt-exo .pt-tooltip .pt-tooltip-content .pt-tooltip-list,.crpt-exo .pt-tooltip-show-icon:hover .pt-tooltip,.crpt-exo .pt-tooltip-show-text:hover .pt-tooltip,.pt-content-loader.ptcl-crpt-exo{display:block}.crpt-exo .pt-tooltip .pt-tooltip-content .pt-tooltip-list>span{display:block;line-height:1.4}.crpt-exo .pt-tooltip .pt-tooltip-content .pt-tooltip-list .fa{font-size:13px;width:24px;text-align:center;padding-right:4px}.crpt-exo .pt-tooltip-bottom,.crpt-exo .pt-tooltip-bottom-left,.crpt-exo .pt-tooltip-bottom-right{bottom:auto;top:100%}.crpt-exo .pt-tooltip-bottom .pt-tooltip-content,.crpt-exo .pt-tooltip-bottom-left .pt-tooltip-content,.crpt-exo .pt-tooltip-bottom-right .pt-tooltip-content{margin:8px 0 0}.crpt-exo .pt-tooltip-bottom .pt-tooltip-content:after,.crpt-exo .pt-tooltip-bottom-left .pt-tooltip-content:after,.crpt-exo .pt-tooltip-bottom-right .pt-tooltip-content:after{top:auto;bottom:100%;border-width:0 8px 8px;border-bottom-color:inherit}.crpt-exo .pt-tooltip-bottom-left,.crpt-exo .pt-tooltip-bottom-right,.crpt-exo .pt-tooltip-left-bottom,.crpt-exo .pt-tooltip-left-top,.crpt-exo .pt-tooltip-right-bottom,.crpt-exo .pt-tooltip-right-top,.crpt-exo .pt-tooltip-top-left,.crpt-exo .pt-tooltip-top-right{-webkit-transform:none;-moz-transform:none;transform:none}.crpt-exo .pt-tooltip-right,.crpt-exo .pt-tooltip-right-bottom,.crpt-exo .pt-tooltip-right-top{left:100%;right:auto;text-align:left}.crpt-exo .pt-tooltip-right .pt-tooltip-content,.crpt-exo .pt-tooltip-right-bottom .pt-tooltip-content,.crpt-exo .pt-tooltip-right-top .pt-tooltip-content{margin:0 0 0 11px}.crpt-exo .pt-tooltip-right .pt-tooltip-content:after,.crpt-exo .pt-tooltip-right-bottom .pt-tooltip-content:after,.crpt-exo .pt-tooltip-right-top .pt-tooltip-content:after{right:100%;border-width:8px 8px 8px 0;border-top-color:transparent;border-right-color:inherit;margin-right:0}.crpt-exo .pt-tooltip-left,.crpt-exo .pt-tooltip-left-bottom,.crpt-exo .pt-tooltip-left-top{right:100%;text-align:right}.crpt-exo .pt-tooltip-left .pt-tooltip-content,.crpt-exo .pt-tooltip-left-bottom .pt-tooltip-content,.crpt-exo .pt-tooltip-left-top .pt-tooltip-content{margin:0 11px 0 0}.crpt-exo .pt-tooltip-left .pt-tooltip-content:after,.crpt-exo .pt-tooltip-left-bottom .pt-tooltip-content:after,.crpt-exo .pt-tooltip-left-top .pt-tooltip-content:after{left:100%;right:auto;border-width:8px 0 8px 8px;border-top-color:transparent;border-left-color:inherit;margin-right:0}.crpt-exo .pt-footer,.crpt-exo .pt-price-container{border-right:1px solid #ccc;border-left:1px solid #ccc;background:#f7f7f7}.crpt-exo .pt-tooltip-bottom,.crpt-exo .pt-tooltip-top{-webkit-transform:translateX(50%);-moz-transform:translateX(50%);transform:translateX(50%)}.crpt-exo .pt-tooltip-left,.crpt-exo .pt-tooltip-right{bottom:50%;-webkit-transform:translateY(50%);-moz-transform:translateY(50%);transform:translateY(50%)}.crpt-exo .pt-tooltip-left .pt-tooltip-content:after,.crpt-exo .pt-tooltip-right .pt-tooltip-content:after{top:50%;margin-top:-8px}.crpt-exo .pt-tooltip-left-top,.crpt-exo .pt-tooltip-right-top{bottom:auto;top:50%;margin-top:-16px}.crpt-exo .pt-tooltip-left-top .pt-tooltip-content:after,.crpt-exo .pt-tooltip-right-top .pt-tooltip-content:after{top:6px}.crpt-exo .pt-tooltip-left-bottom,.crpt-exo .pt-tooltip-right-bottom{bottom:50%;margin-bottom:-18px}.crpt-exo .pt-tooltip-left-bottom .pt-tooltip-content:after,.crpt-exo .pt-tooltip-right-bottom .pt-tooltip-content:after{top:auto;bottom:8px}.crpt-exo .pt-tooltip-show-icon,.crpt-exo .pt-tooltip-show-text{display:inline-block;position:relative}.crpt-exo .pt-tooltip-show-icon:hover,.crpt-exo .pt-tooltip-show-text:hover{cursor:help}.crpt-exo .pt-tooltip-show-icon{vertical-align:top;position:relative;left:5px;top:-5px;line-height:1}.crpt-exo .pt-tooltip-show-icon .pt-tooltip-show i.fa{width:auto;font-size:14px;margin:0}.crpt-exo .pt-tooltip-bottom-left,.crpt-exo .pt-tooltip-top-left{margin-left:-50px;left:50%;right:auto;text-align:left}.crpt-exo .pt-tooltip-bottom-left .pt-tooltip-content:after,.crpt-exo .pt-tooltip-top-left .pt-tooltip-content:after{right:auto;left:40px;margin-right:0}.crpt-exo .pt-tooltip-bottom-right,.crpt-exo .pt-tooltip-top-right{margin-right:-50px;right:50%;text-align:right}.crpt-exo .pt-tooltip-bottom-right .pt-tooltip-content:after,.crpt-exo .pt-tooltip-top-right .pt-tooltip-content:after{right:40px;margin-right:0}@media (min-width:992px){.crpt-exo .pt-cols-4 .pt-col{width:25%}.crpt-exo .pt-cols-5 .pt-cols-main{margin:0 -5px}.crpt-exo .pt-cols-5 .pt-col{padding:0 5px;width:20%}.crpt-exo .pt-tooltip .pt-tooltip-content .pt-tooltip-2col{width:275px}.crpt-exo .pt-tooltip .pt-tooltip-content .pt-tooltip-2col:after,.crpt-exo .pt-tooltip .pt-tooltip-content .pt-tooltip-2col:before{content:"";display:table}.crpt-exo .pt-tooltip .pt-tooltip-content .pt-tooltip-2col:after{clear:both}.crpt-exo .pt-tooltip .pt-tooltip-content .pt-tooltip-2col>span{float:left;width:50%}}.crpt-exo .pt-block{margin-bottom:30px}.crpt-exo .pt-block,.crpt-exo .pt-btn,.crpt-exo .pt-btn-text,.crpt-exo .pt-btn>*,.crpt-exo .pt-content,.crpt-exo .pt-footer,.crpt-exo .pt-header,.crpt-exo .pt-price-block,.crpt-exo .pt-sub,.crpt-exo .pt-title{position:relative}.crpt-exo .pt-btn-text,.crpt-exo .pt-price-block,.crpt-exo .pt-sub,.crpt-exo .pt-title{z-index:1}.crpt-exo .pt-header{display:block;color:inherit;text-decoration:none;outline:0;margin-bottom:-1px;z-index:1}.crpt-exo .pt-header .pt-btn-text{width:100%;height:66px;font-size:32px;line-height:60px;display:inline-block;color:#fff;font-family:'Exo 2';font-weight:500}.crpt-exo .pt-cols:nth-child(n) .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-header .pt-btn-text+.pt-back,.crpt-exo .pt-header .pt-btn-text+.pt-back,.crpt-exo.pt-animation-1 .pt-selected .pt-header .pt-btn-text+.pt-back,.crpt-exo.pt-animation-2:hover .pt-selected .pt-header .pt-btn-text+.pt-back,.crpt-exo.pt-animation-default:hover .pt-selected .pt-header .pt-btn-text+.pt-back{height:66px}.crpt-exo .pt-header .pt-back{content:"";position:absolute;left:0;bottom:0;-webkit-box-shadow:50px 0 50px -50px grey inset,-50px 0 50px -50px grey inset,0 2px 2px -2px #0d0d0d,0 -2px 2px -2px #0d0d0d;box-shadow:50px 0 50px -50px grey inset,-50px 0 50px -50px grey inset,0 2px 2px -2px #0d0d0d,0 -2px 2px -2px #0d0d0d;background:#333;width:100%;height:0;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}.crpt-exo .pt-content{-webkit-transition:margin .3s linear;-moz-transition:margin .3s linear;transition:margin .3s linear}.crpt-exo .pt-title{font-size:32px;padding:10px 0;display:block;font-family:'Exo 2';font-weight:500}.crpt-exo .pt-sub{color:grey;display:block;font-size:15px}.crpt-exo .pt-price-container{display:block;padding:23px 0;border-top:1px solid #ccc;border-radius:2px 2px 0 0}
.crpt-exo .pt-price-container.pt-has-sub{padding:14px 0}.crpt-exo .pt-price-block{font-size:0;display:block}.crpt-exo .pt-price-block span{display:inline-block;vertical-align:middle}.crpt-exo .pt-price-block .pt-currency{font-size:22px;padding-top:5px}.crpt-exo .pt-price-block .pt-price-main{font-size:44px;font-family:'Exo 2';font-weight:500}.crpt-exo .pt-footer{margin-top:-1px;border-radius:0 0 2px 2px;border-bottom:1px solid #ccc;min-height:66px}.crpt-exo .pt-btn{width:100%;height:66px;font-size:32px;line-height:60px;display:block;text-decoration:none;color:#fff;padding:0 10px;border:0}.crpt-exo .pt-btn:before{content:"";position:absolute;left:-1px;top:0;right:-1px;bottom:-1px;-webkit-box-shadow:50px 0 50px -50px grey inset,-50px 0 50px -50px grey inset,0 2px 2px -2px #0d0d0d,0 -2px 2px -2px #0d0d0d;box-shadow:50px 0 50px -50px grey inset,-50px 0 50px -50px grey inset,0 2px 2px -2px #0d0d0d,0 -2px 2px -2px #0d0d0d;background:#333}.crpt-exo .pt-btn:focus,.crpt-exo .pt-btn:hover{font-size:40px;color:#fff}.crpt-exo .pt-btn:focus:before,.crpt-exo .pt-btn:hover:before,.crpt-exo .pt-cols:nth-child(n) .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-btn-text,.crpt-exo .pt-cols:nth-child(n) .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-footer,.crpt-exo .pt-cols:nth-child(n) .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-list,.crpt-exo .pt-cols:nth-child(n) .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-price-container,.crpt-exo.pt-animation-1:hover .pt-cols .pt-selected .pt-btn-text,.crpt-exo.pt-animation-1:hover .pt-cols .pt-selected .pt-footer,.crpt-exo.pt-animation-1:hover .pt-cols .pt-selected .pt-list,.crpt-exo.pt-animation-1:hover .pt-cols .pt-selected .pt-price-container{-webkit-box-shadow:none;box-shadow:none}.crpt-exo .pt-block,.crpt-exo .pt-header,.crpt-exo .pt-header .pt-btn-text,.crpt-exo .pt-sub{-webkit-transition:.1s linear;-moz-transition:.1s linear;transition:.1s linear}.crpt-exo .pt-btn,.crpt-exo .pt-btn:before,.crpt-exo .pt-header .pt-back,.crpt-exo.pt-animation-1 .pt-btn-text,.crpt-exo.pt-animation-1 .pt-footer,.crpt-exo.pt-animation-1 .pt-list,.crpt-exo.pt-animation-1 .pt-price-container{-webkit-transition:.3s linear;-moz-transition:.3s linear;transition:.3s linear}.crpt-exo .pt-tooltip-show-text .pt-tooltip-show{border-bottom:1px dashed}.crpt-exo .pt-list{padding:10px 25px;border:1px solid #ccc;border-radius:2px;position:relative;background:#f7f7f7;-webkit-transition:.3s linear;-moz-transition:.3s linear;transition:.3s linear}.crpt-exo .pt-list .pt-list-item{margin:0 -20px}.crpt-exo .pt-list .pt-list-item.pt-border-bottom{padding-bottom:12px;border-bottom:2px dotted #ccc}.crpt-exo .pt-list .fa{font-size:17px}.crpt-exo .pt-list .fa-check{color:#009245}.crpt-exo .pt-list .fa-times{color:#ff1d25}.crpt-exo .pt-list-item{padding-top:12px;line-height:24px}@media (max-width:1199px){.crpt-exo .pt-cols-4,.crpt-exo .pt-cols-5{max-width:none;padding:0!important}.crpt-exo .pt-cols-4 .pt-cols-side,.crpt-exo .pt-cols-5 .pt-cols-side{display:none}.crpt-exo .pt-cols-4 .pt-col,.crpt-exo .pt-cols-5 .pt-col{min-width:180px}.crpt-exo .pt-cols-4 .pt-line-middle,.crpt-exo .pt-cols-4 [class*=pt-lines-],.crpt-exo .pt-cols-5 .pt-line-middle,.crpt-exo .pt-cols-5 [class*=pt-lines-]{display:inline-block;height:auto}.crpt-exo .pt-cols-4 .pt-list .pt-list-item .pt-text,.crpt-exo .pt-cols-5 .pt-list .pt-list-item .pt-text{display:block}.crpt-exo .pt-cols-4 .pt-list .pt-list-item .pt-value,.crpt-exo .pt-cols-5 .pt-list .pt-list-item .pt-value{font-weight:700}}@media (max-width:991px){.crpt-exo .pt-cols-3{max-width:none;padding:0!important}.crpt-exo .pt-cols-3 .pt-cols-side{display:none}.crpt-exo .pt-cols-3 .pt-col{min-width:180px}.crpt-exo .pt-cols-3 .pt-line-middle,.crpt-exo .pt-cols-3 [class*=pt-lines-]{display:inline-block;height:auto}.crpt-exo .pt-cols-3 .pt-list .pt-list-item .pt-text{display:block}.crpt-exo .pt-cols-3 .pt-list .pt-list-item .pt-value{font-weight:700}}@media (max-width:767px){.crpt-exo .pt-cols .pt-cols-side{max-width:330px}.crpt-exo .pt-cols-1,.crpt-exo .pt-cols-2{max-width:none;padding:0!important}.crpt-exo .pt-cols-1 .pt-cols-side,.crpt-exo .pt-cols-2 .pt-cols-side{display:none}.crpt-exo .pt-cols-1 .pt-col,.crpt-exo .pt-cols-2 .pt-col{min-width:180px}.crpt-exo .pt-cols-1 .pt-line-middle,.crpt-exo .pt-cols-1 [class*=pt-lines-],.crpt-exo .pt-cols-2 .pt-line-middle,.crpt-exo .pt-cols-2 [class*=pt-lines-]{display:inline-block;height:auto}.crpt-exo .pt-cols-1 .pt-list .pt-list-item .pt-text,.crpt-exo .pt-cols-2 .pt-list .pt-list-item .pt-text{display:block}.crpt-exo .pt-cols-1 .pt-list .pt-list-item .pt-value,.crpt-exo .pt-cols-2 .pt-list .pt-list-item .pt-value{font-weight:700}}.crpt-exo .pt-cols{padding-left:170px;margin:0 auto}.crpt-exo .pt-list-block{position:absolute;left:0;bottom:106px;width:170px;text-align:right;padding-right:20px}.crpt-exo .pt-list-block .pt-border-bottom{padding-bottom:14px}.crpt-exo .pt-list .pt-list-item .pt-text,.crpt-exo.pt-no-footer .pt-block .pt-footer,.pt-content-loader.ptcl-crpt-exo+.pt-content-loader-bar{display:none}.crpt-exo .pt-list .pt-list-item .pt-value{font-weight:400}.crpt-exo.pt-no-footer .pt-list-block{bottom:40px}.crpt-exo.pt-side-xs .pt-cols{padding-left:180px}.crpt-exo.pt-side-xs .pt-list-block{width:180px}.crpt-exo.pt-side-sm .pt-cols{padding-left:220px}.crpt-exo.pt-side-sm .pt-list-block{width:220px}.crpt-exo.pt-side-md .pt-cols{padding-left:240px}.crpt-exo.pt-side-md .pt-list-block{width:240px}.crpt-exo.pt-side-lg .pt-cols{padding-left:280px}.crpt-exo.pt-side-lg .pt-list-block{width:280px}.crpt-exo .pt-cols:nth-child(n) .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-content{margin:0;-webkit-box-shadow:none;box-shadow:none;z-index:1}.crpt-exo .pt-cols:nth-child(n) .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-title,.crpt-exo.pt-animation-1:hover .pt-cols .pt-selected .pt-title{color:inherit}.crpt-exo .pt-cols:nth-child(n) .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-sub,.crpt-exo.pt-animation-1 .pt-selected .pt-sub,.crpt-exo.pt-animation-2:hover .pt-selected .pt-sub,.crpt-exo.pt-animation-default:hover .pt-selected .pt-sub{color:grey}.crpt-exo .pt-cols:nth-child(n) .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-header{color:#666;cursor:default}.crpt-exo .pt-cols:nth-child(n) .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-header .pt-back{height:0;bottom:0;padding-bottom:0;-webkit-box-shadow:50px 0 50px -50px #dadada inset,-50px 0 50px -50px #dadada inset,0 2px 2px -2px #a7a7a7,0 -2px 2px -2px #a7a7a7;box-shadow:50px 0 50px -50px #dadada inset,-50px 0 50px -50px #dadada inset,0 2px 2px -2px #a7a7a7,0 -2px 2px -2px #a7a7a7;background:silver}.crpt-exo .pt-cols:nth-child(n) .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-header .pt-btn-text{font-size:32px}.crpt-exo .pt-cols:nth-child(n) .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-btn{font-size:32px;cursor:default}.crpt-exo .pt-cols:nth-child(n) .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-btn:before{top:0;bottom:0;-webkit-box-shadow:50px 0 50px -50px #dadada inset,-50px 0 50px -50px #dadada inset,0 2px 2px -2px #a7a7a7,0 -2px 2px -2px #a7a7a7;box-shadow:50px 0 50px -50px #dadada inset,-50px 0 50px -50px #dadada inset,0 2px 2px -2px #a7a7a7,0 -2px 2px -2px #a7a7a7;background:silver}.crpt-exo .pt-selected .pt-content,.crpt-exo.pt-animation-default .pt-cols .pt-block:hover .pt-content{-webkit-box-shadow:0 0 5px #262626;box-shadow:0 0 5px #262626;-webkit-transition:margin .3s linear,box-shadow .1s linear .3s;-moz-transition:margin .3s linear,box-shadow .1s linear .3s;transition:margin .3s linear,box-shadow .1s linear .3s}.crpt-exo .pt-selected .pt-sub,.crpt-exo.pt-animation-2 .pt-cols .pt-block:hover .pt-sub,.crpt-exo.pt-animation-default .pt-cols .pt-block:hover .pt-sub{color:#8c8c8c}.crpt-exo .pt-selected .pt-header,.crpt-exo.pt-animation-2 .pt-cols .pt-block:hover .pt-header,.crpt-exo.pt-animation-default .pt-cols .pt-block:hover .pt-header{color:#fff}.crpt-exo .pt-selected .pt-header .pt-back,.crpt-exo.pt-animation-2 .pt-cols .pt-block:hover .pt-header .pt-back,.crpt-exo.pt-animation-default .pt-cols .pt-block:hover .pt-header .pt-back{height:100%;bottom:-8px;padding-bottom:8px;-webkit-box-shadow:50px 0 50px -50px grey inset,-50px 0 50px -50px grey inset,0 2px 2px -2px #0d0d0d;box-shadow:50px 0 50px -50px grey inset,-50px 0 50px -50px grey inset,0 2px 2px -2px #0d0d0d}.crpt-exo .pt-selected .pt-header .pt-btn-text+.pt-back,.crpt-exo.pt-animation-2 .pt-cols .pt-block:hover .pt-header .pt-btn-text+.pt-back,.crpt-exo.pt-animation-default .pt-cols .pt-block:hover .pt-header .pt-btn-text+.pt-back{height:100%}.crpt-exo .pt-selected .pt-header:hover .pt-back,.crpt-exo.pt-animation-2 .pt-cols .pt-block:hover .pt-header:hover .pt-back,.crpt-exo.pt-animation-default .pt-cols .pt-block:hover .pt-header:hover .pt-back{-webkit-box-shadow:25px 0 25px -25px grey inset,-25px 0 25px -25px grey inset,0 2px 2px -2px #0d0d0d;box-shadow:25px 0 25px -25px grey inset,-25px 0 25px -25px grey inset,0 2px 2px -2px #0d0d0d}.crpt-exo .pt-selected .pt-btn:before,.crpt-exo.pt-animation-2 .pt-cols .pt-block:hover .pt-btn:before,.crpt-exo.pt-animation-default .pt-cols .pt-block:hover .pt-btn:before{top:-3px;bottom:-4px}.crpt-exo.pt-animation-1 .pt-cols .pt-col .pt-block:hover .pt-title,.crpt-exo.pt-animation-1 .pt-selected .pt-title{color:#333}.crpt-exo.pt-animation-1 .pt-cols .pt-col .pt-block:hover .pt-btn-text,.crpt-exo.pt-animation-1 .pt-cols .pt-col .pt-block:hover .pt-footer,.crpt-exo.pt-animation-1 .pt-cols .pt-col .pt-block:hover .pt-list,.crpt-exo.pt-animation-1 .pt-cols .pt-col .pt-block:hover .pt-price-container,.crpt-exo.pt-animation-1 .pt-selected .pt-btn-text,.crpt-exo.pt-animation-1 .pt-selected .pt-footer,.crpt-exo.pt-animation-1 .pt-selected .pt-list,.crpt-exo.pt-animation-1 .pt-selected .pt-price-container{-webkit-box-shadow:0 0 5px #262626;box-shadow:0 0 5px #262626}.crpt-exo.pt-animation-1 .pt-cols .pt-selected .pt-content,.crpt-exo.pt-animation-2 .pt-cols .pt-selected .pt-content,.crpt-exo.pt-animation-default:hover .pt-selected .pt-content{margin:0;-webkit-box-shadow:none;box-shadow:none;-webkit-transition:margin .3s linear;-moz-transition:margin .3s linear;transition:margin .3s linear}.crpt-exo.pt-animation-1 .pt-selected .pt-header,.crpt-exo.pt-animation-2:hover .pt-selected .pt-header,.crpt-exo.pt-animation-default:hover .pt-selected .pt-header{color:#666}.crpt-exo.pt-animation-1 .pt-selected .pt-header .pt-back,.crpt-exo.pt-animation-2:hover .pt-selected .pt-header .pt-back,.crpt-exo.pt-animation-default:hover .pt-selected .pt-header .pt-back{height:0;bottom:0;padding-bottom:0;-webkit-box-shadow:50px 0 50px -50px grey inset,-50px 0 50px -50px grey inset,0 2px 2px -2px #0d0d0d,0 -2px 2px -2px #0d0d0d;box-shadow:50px 0 50px -50px grey inset,-50px 0 50px -50px grey inset,0 2px 2px -2px #0d0d0d,0 -2px 2px -2px #0d0d0d}.crpt-exo.pt-animation-1 .pt-selected .pt-btn:before,.crpt-exo.pt-animation-2:hover .pt-selected .pt-btn:before,.crpt-exo.pt-animation-default:hover .pt-selected .pt-btn:before{top:0;bottom:-1px}
/* Classic Solid Modern - Responsive Pricing Tables v2.2 */
@font-face {
  font-family: 'Antonio';
  src: url("../fonts/Antonio/antonio-regular-webfont.eot");
  src: url("../fonts/Antonio/antonio-regular-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/Antonio/antonio-regular-webfont.woff2") format('woff2'), url("../fonts/Antonio/antonio-regular-webfont.woff") format('woff'), url("../fonts/Antonio/antonio-regular-webfont.ttf") format('truetype'), url("../fonts/Antonio/antonio-regular-webfont.svg#Antonio") format('svg');
  font-weight: normal;
  font-style: normal;
}
.csmrpt-solid button::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}
.csmrpt-solid .pt-btn {
  font-family: inherit;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}
.csmrpt-solid .pt-btn[disabled] {
  cursor: default;
}
.csmrpt-solid {
  margin-top: 30px;
}
.csmrpt-solid,
.csmrpt-solid .pt-block {
  position: relative;
  cursor: default;
  font-family: 'Antonio';
  font-size: 18px;
  line-height: 1.2;
  color: #4d4d4d;
  text-align: center;
}
.csmrpt-solid *,
.csmrpt-solid *:before,
.csmrpt-solid *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.csmrpt-solid .pt-cols {
  zoom: 1;
}
.csmrpt-solid .pt-cols:before,
.csmrpt-solid .pt-cols:after {
  content: "";
  display: table;
}
.csmrpt-solid .pt-cols:after {
  clear: both;
}
.csmrpt-solid .pt-active {
  color: #39b54a !important;
}
.csmrpt-solid .pt-disabled {
  color: #f00 !important;
}
.csmrpt-solid .pt-cols {
  text-align: center;
  font-size: 0;
}
.csmrpt-solid .pt-cols .pt-col {
  display: inline-block;
  min-width: 200px;
  max-width: 330px;
  width: 100%;
  vertical-align: middle;
}
@media (min-width: 480px) {
  .csmrpt-solid .pt-cols-2,
  .csmrpt-solid .pt-cols-3,
  .csmrpt-solid .pt-cols-4,
  .csmrpt-solid .pt-cols-5 {
    margin: 0 -15px;
  }
  .csmrpt-solid .pt-cols-2 .pt-col,
  .csmrpt-solid .pt-cols-3 .pt-col,
  .csmrpt-solid .pt-cols-4 .pt-col,
  .csmrpt-solid .pt-cols-5 .pt-col {
    min-width: 230px;
    padding: 0 15px;
    width: 50%;
  }
}
@media (min-width: 768px) {
  .csmrpt-solid .pt-cols-3 .pt-col,
  .csmrpt-solid .pt-cols-5 .pt-col {
    width: 33.3333%;
  }
}
@media (min-width: 992px) {
  .csmrpt-solid .pt-cols-4 .pt-col {
    width: 25%;
  }
}
@media (min-width: 1200px) {
  .csmrpt-solid .pt-cols-5 {
    margin: 0 -5px;
  }
  .csmrpt-solid .pt-cols-5 .pt-col {
    min-width: 210px;
    padding: 0 5px;
    width: 20%;
  }
}
.csmrpt-solid .pt-tooltip {
  display: none;
  position: absolute;
  right: 50%;
  bottom: 100%;
  min-width: 200px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.2;
  color: #fff;
  font-weight: normal;
  text-align: center;
  font-style: normal;
  z-index: 100;
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -o-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
  line-height: 1;
}
.csmrpt-solid .pt-tooltip .pt-tooltip-content {
  position: relative;
  background-color: #1a1a1a;
  padding: 3px;
  display: block;
  text-align: left;
  margin-bottom: 8px;
  max-width: 100%;
  border-radius: 2px;
  border-color: #1a1a1a;
  border-width: 2px;
  border-style: solid;
}
.csmrpt-solid .pt-tooltip .pt-tooltip-content .pt-tooltip-center-line {
  display: block;
  text-align: center;
  font-size: 14px;
}
.csmrpt-solid .pt-tooltip .pt-tooltip-content .pt-tooltip-center-line span {
  position: relative;
  display: inline-block;
  padding: 8px;
}
.csmrpt-solid .pt-tooltip .pt-tooltip-content .pt-tooltip-center-line span:before,
.csmrpt-solid .pt-tooltip .pt-tooltip-content .pt-tooltip-center-line span:after {
  content: "";
  position: absolute;
  top: 50%;
  height: 1px;
  width: 20px;
  background-color: #404040;
}
.csmrpt-solid .pt-tooltip .pt-tooltip-content .pt-tooltip-center-line span:before {
  right: 100%;
}
.csmrpt-solid .pt-tooltip .pt-tooltip-content .pt-tooltip-center-line span:after {
  left: 100%;
}
.csmrpt-solid .pt-tooltip .pt-tooltip-content .fa {
  margin: 0;
}
.csmrpt-solid .pt-tooltip .pt-tooltip-content img {
  max-width: 100%;
}
.csmrpt-solid .pt-tooltip .pt-tooltip-content:after {
  content: "";
  position: absolute;
  top: 100%;
  right: 50%;
  border-style: solid;
  border-width: 8px 8px 0 8px;
  border-top-color: inherit;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  margin-right: -8px;
}
.csmrpt-solid .pt-tooltip .pt-tooltip-content .pt-tooltip-heading {
  display: block;
  border-bottom: 1px solid #404040;
  font-size: 15px;
  line-height: 1.4;
  font-weight: bold;
  text-align: center;
  padding: 0 5px 2px 5px;
  margin-bottom: 5px;
}
.csmrpt-solid .pt-tooltip .pt-tooltip-content .pt-tooltip-list {
  display: block;
}
.csmrpt-solid .pt-tooltip .pt-tooltip-content .pt-tooltip-list > span {
  display: block;
  line-height: 1.4;
}
.csmrpt-solid .pt-tooltip .pt-tooltip-content .pt-tooltip-list .fa {
  font-size: 13px;
  width: 24px;
  text-align: center;
  padding-right: 4px;
}
.csmrpt-solid .pt-tooltip-bottom,
.csmrpt-solid .pt-tooltip-bottom-left,
.csmrpt-solid .pt-tooltip-bottom-right {
  bottom: auto;
  top: 100%;
}
.csmrpt-solid .pt-tooltip-bottom .pt-tooltip-content,
.csmrpt-solid .pt-tooltip-bottom-left .pt-tooltip-content,
.csmrpt-solid .pt-tooltip-bottom-right .pt-tooltip-content {
  margin: 8px 0 0 0;
}
.csmrpt-solid .pt-tooltip-bottom .pt-tooltip-content:after,
.csmrpt-solid .pt-tooltip-bottom-left .pt-tooltip-content:after,
.csmrpt-solid .pt-tooltip-bottom-right .pt-tooltip-content:after {
  top: auto;
  bottom: 100%;
  border-width: 0 8px 8px 8px;
  border-bottom-color: inherit;
}
.csmrpt-solid .pt-tooltip-left-top,
.csmrpt-solid .pt-tooltip-left-bottom,
.csmrpt-solid .pt-tooltip-right-top,
.csmrpt-solid .pt-tooltip-right-bottom,
.csmrpt-solid .pt-tooltip-top-left,
.csmrpt-solid .pt-tooltip-bottom-left,
.csmrpt-solid .pt-tooltip-top-right,
.csmrpt-solid .pt-tooltip-bottom-right {
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
}
.csmrpt-solid .pt-tooltip-left .pt-tooltip-content:after,
.csmrpt-solid .pt-tooltip-left-top .pt-tooltip-content:after,
.csmrpt-solid .pt-tooltip-left-bottom .pt-tooltip-content:after,
.csmrpt-solid .pt-tooltip-right .pt-tooltip-content:after,
.csmrpt-solid .pt-tooltip-right-top .pt-tooltip-content:after,
.csmrpt-solid .pt-tooltip-right-bottom .pt-tooltip-content:after {
  border-width: 8px 8px;
}
.csmrpt-solid .pt-tooltip-right,
.csmrpt-solid .pt-tooltip-right-top,
.csmrpt-solid .pt-tooltip-right-bottom {
  left: 100%;
  right: auto;
  text-align: left;
}
.csmrpt-solid .pt-tooltip-right .pt-tooltip-content,
.csmrpt-solid .pt-tooltip-right-top .pt-tooltip-content,
.csmrpt-solid .pt-tooltip-right-bottom .pt-tooltip-content {
  margin: 0 0 0 11px;
}
.csmrpt-solid .pt-tooltip-right .pt-tooltip-content:after,
.csmrpt-solid .pt-tooltip-right-top .pt-tooltip-content:after,
.csmrpt-solid .pt-tooltip-right-bottom .pt-tooltip-content:after {
  right: 100%;
  border-width: 8px 8px 8px 0;
  border-top-color: transparent;
  border-right-color: inherit;
  margin-right: 0;
}
.csmrpt-solid .pt-tooltip-left,
.csmrpt-solid .pt-tooltip-left-top,
.csmrpt-solid .pt-tooltip-left-bottom {
  right: 100%;
  text-align: right;
}
.csmrpt-solid .pt-tooltip-left .pt-tooltip-content,
.csmrpt-solid .pt-tooltip-left-top .pt-tooltip-content,
.csmrpt-solid .pt-tooltip-left-bottom .pt-tooltip-content {
  margin: 0 11px 0 0;
}
.csmrpt-solid .pt-tooltip-left .pt-tooltip-content:after,
.csmrpt-solid .pt-tooltip-left-top .pt-tooltip-content:after,
.csmrpt-solid .pt-tooltip-left-bottom .pt-tooltip-content:after {
  left: 100%;
  right: auto;
  border-width: 8px 0 8px 8px;
  border-top-color: transparent;
  border-left-color: inherit;
  margin-right: 0;
}
.csmrpt-solid .pt-tooltip-top,
.csmrpt-solid .pt-tooltip-bottom {
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -o-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}
.csmrpt-solid .pt-tooltip-right,
.csmrpt-solid .pt-tooltip-left {
  bottom: 50%;
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -o-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
}
.csmrpt-solid .pt-tooltip-right .pt-tooltip-content:after,
.csmrpt-solid .pt-tooltip-left .pt-tooltip-content:after {
  top: 50%;
  margin-top: -8px;
}
.csmrpt-solid .pt-tooltip-right-top,
.csmrpt-solid .pt-tooltip-left-top {
  bottom: auto;
  top: 50%;
  margin-top: -16px;
}
.csmrpt-solid .pt-tooltip-right-top .pt-tooltip-content:after,
.csmrpt-solid .pt-tooltip-left-top .pt-tooltip-content:after {
  top: 6px;
}
.csmrpt-solid .pt-tooltip-right-bottom,
.csmrpt-solid .pt-tooltip-left-bottom {
  bottom: 50%;
  margin-bottom: -18px;
}
.csmrpt-solid .pt-tooltip-right-bottom .pt-tooltip-content:after,
.csmrpt-solid .pt-tooltip-left-bottom .pt-tooltip-content:after {
  top: auto;
  bottom: 8px;
}
.csmrpt-solid .pt-tooltip-show-icon,
.csmrpt-solid .pt-tooltip-show-text {
  display: inline-block;
  position: relative;
}
.csmrpt-solid .pt-tooltip-show-icon:hover,
.csmrpt-solid .pt-tooltip-show-text:hover {
  cursor: help;
}
.csmrpt-solid .pt-tooltip-show-icon:hover .pt-tooltip,
.csmrpt-solid .pt-tooltip-show-text:hover .pt-tooltip {
  display: block;
}
.csmrpt-solid .pt-tooltip-show-icon {
  vertical-align: top;
  position: relative;
  left: 5px;
  top: -5px;
  line-height: 1;
}
.csmrpt-solid .pt-tooltip-show-icon .pt-tooltip-show i.fa {
  width: auto;
  font-size: 14px;
  margin: 0;
}
.csmrpt-solid .pt-tooltip-top-left,
.csmrpt-solid .pt-tooltip-bottom-left {
  margin-left: -50px;
  left: 50%;
  right: auto;
  text-align: left;
}
.csmrpt-solid .pt-tooltip-top-left .pt-tooltip-content:after,
.csmrpt-solid .pt-tooltip-bottom-left .pt-tooltip-content:after {
  right: auto;
  left: 40px;
  margin-right: 0;
}
.csmrpt-solid .pt-tooltip-top-right,
.csmrpt-solid .pt-tooltip-bottom-right {
  margin-right: -50px;
  right: 50%;
  text-align: right;
}
.csmrpt-solid .pt-tooltip-top-right .pt-tooltip-content:after,
.csmrpt-solid .pt-tooltip-bottom-right .pt-tooltip-content:after {
  right: 40px;
  margin-right: 0;
}
@media (min-width: 992px) {
  .csmrpt-solid .pt-tooltip .pt-tooltip-content .pt-tooltip-2col {
    width: 275px;
    zoom: 1;
  }
  .csmrpt-solid .pt-tooltip .pt-tooltip-content .pt-tooltip-2col:before,
  .csmrpt-solid .pt-tooltip .pt-tooltip-content .pt-tooltip-2col:after {
    content: "";
    display: table;
  }
  .csmrpt-solid .pt-tooltip .pt-tooltip-content .pt-tooltip-2col:after {
    clear: both;
  }
  .csmrpt-solid .pt-tooltip .pt-tooltip-content .pt-tooltip-2col > span {
    float: left;
    width: 50%;
  }
}
.csmrpt-solid .pt-badge {
  position: absolute;
  left: 0;
  top: -1px;
  width: 100%;
}
.csmrpt-solid .pt-badge span {
  display: inline-block;
  padding: 0 10px;
  background-color: #c0c0c0;
  height: 25px;
  font-size: 16px;
  line-height: 30px;
  color: #fff;
  border-radius: 0 0 3px 3px;
}
.csmrpt-solid .pt-popular span {
  background-color: #39b54a;
}
.csmrpt-solid .pt-discount span {
  background-color: #ff931e;
}
.csmrpt-solid .pt-block {
  margin: 10px 0 40px 0;
  padding: 35px 15px 25px;
}
.csmrpt-solid .pt-head,
.csmrpt-solid .pt-price-block,
.csmrpt-solid .pt-sub-text,
.csmrpt-solid .pt-list,
.csmrpt-solid .pt-footer {
  position: relative;
}
.csmrpt-solid .pt-back {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border: 1px solid #4d4d4d;
  border-radius: 8px;
}
.csmrpt-solid .pt-head {
  padding-bottom: 25px;
}
.csmrpt-solid .pt-footer {
  text-align: center;
  padding-top: 35px;
}
.csmrpt-solid .pt-title {
  font-size: 48px;
  line-height: 50px;
  color: #333;
}
.csmrpt-solid .pt-sub-title {
  padding-top: 5px;
  font-size: 21px;
  line-height: 22px;
  color: #595959;
}
.csmrpt-solid .pt-sub-text {
  text-transform: uppercase;
  font-size: 21px;
  line-height: 23px;
  color: #404040;
}
.csmrpt-solid .pt-btn,
.csmrpt-solid .btn {
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  border: 1px solid #404040;
  font-size: 24px;
  line-height: 54px;
  height: 52px;
  padding: 0 15px;
}
.csmrpt-solid .pt-tooltip-show-text .pt-tooltip-show {
  border-bottom: 1px solid;
}
.csmrpt-solid .pt-list {
  list-style: none;
  margin: 0;
  padding: 10px 0 0;
  display: inline-block;
  text-align: left;
}
.csmrpt-solid .pt-list li {
  list-style: none;
  display: block;
  margin: 0;
  padding: 10px 0 5px;
}
.csmrpt-solid .pt-list .fa {
  width: 25px;
  font-size: 23px;
}
.csmrpt-solid .pt-list .pt-active {
  color: #39b54a;
}
.csmrpt-solid .pt-list .pt-disabled {
  color: #f00;
}
.csmrpt-solid .pt-price-block {
  color: #333;
  padding-top: 5px;
  height: 85px;
  display: inline-block;
  position: relative;
}
.csmrpt-solid .pt-price-block span {
  vertical-align: middle;
}
.csmrpt-solid .pt-price-block .pt-currency {
  position: absolute;
  top: 20px;
  right: 100%;
  font-size: 32px;
  line-height: 34px;
}
.csmrpt-solid .pt-price-block .pt-price-main {
  font-size: 83px;
  line-height: 86px;
}
.csmrpt-solid .pt-price-block .pt-price-rest {
  position: absolute;
  left: 100%;
  top: 14px;
  font-size: 32px;
  line-height: 34px;
  text-decoration: underline;
}
.csmrpt-solid .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) {
  color: #666;
}
.csmrpt-solid .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-title {
  color: #666;
}
.csmrpt-solid .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-sub-title {
  color: #666;
}
.csmrpt-solid .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-sub-text {
  color: #666;
}
.csmrpt-solid .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-back {
  background-color: #fff;
  border-color: #c0c0c0;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.csmrpt-solid .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-price-block {
  color: #666;
}
.csmrpt-solid .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-popular span,
.csmrpt-solid .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-discount span {
  border: 0 none;
}
.csmrpt-solid .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-btn,
.csmrpt-solid .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .btn,
.csmrpt-solid .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-select select {
  background-color: #c0c0c0;
  color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #b3b3b3;
  cursor: default;
}
.csmrpt-solid .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-btn:hover,
.csmrpt-solid .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .btn:hover,
.csmrpt-solid .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-select select:hover,
.csmrpt-solid .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-btn:focus,
.csmrpt-solid .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .btn:focus,
.csmrpt-solid .pt-cols .pt-col:nth-child(n) .pt-block.pt-not-available:nth-child(n) .pt-select select:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.csmrpt-solid .pt-selected,
.csmrpt-solid.pt-animation-default .pt-col .pt-block:hover,
.csmrpt-solid.pt-animation-1 .pt-col .pt-block:hover,
.csmrpt-solid .pt-selected .pt-title,
.csmrpt-solid.pt-animation-default .pt-col .pt-block:hover .pt-title,
.csmrpt-solid.pt-animation-1 .pt-col .pt-block:hover .pt-title {
  color: #fff;
}
.csmrpt-solid .pt-selected .pt-sub-title,
.csmrpt-solid.pt-animation-default .pt-col .pt-block:hover .pt-sub-title,
.csmrpt-solid.pt-animation-1 .pt-col .pt-block:hover .pt-sub-title,
.csmrpt-solid .pt-selected .pt-sub-text,
.csmrpt-solid.pt-animation-default .pt-col .pt-block:hover .pt-sub-text,
.csmrpt-solid.pt-animation-1 .pt-col .pt-block:hover .pt-sub-text {
  color: #eee;
}
.csmrpt-solid .pt-selected .pt-price-block,
.csmrpt-solid.pt-animation-default .pt-col .pt-block:hover .pt-price-block,
.csmrpt-solid.pt-animation-1 .pt-col .pt-block:hover .pt-price-block {
  color: #fff;
}
.csmrpt-solid .pt-selected .pt-btn,
.csmrpt-solid.pt-animation-default .pt-col .pt-block:hover .pt-btn,
.csmrpt-solid.pt-animation-1 .pt-col .pt-block:hover .pt-btn,
.csmrpt-solid .pt-selected .btn,
.csmrpt-solid.pt-animation-default .pt-col .pt-block:hover .btn,
.csmrpt-solid.pt-animation-1 .pt-col .pt-block:hover .btn {
  background-color: #fff;
  color: #333;
  -webkit-box-shadow: 0 3px 10px -3px #000;
  box-shadow: 0 3px 10px -3px #000;
  border-color: #f2f2f2;
}
.csmrpt-solid .pt-selected .pt-btn:hover,
.csmrpt-solid.pt-animation-default .pt-col .pt-block:hover .pt-btn:hover,
.csmrpt-solid.pt-animation-1 .pt-col .pt-block:hover .pt-btn:hover,
.csmrpt-solid .pt-selected .btn:hover,
.csmrpt-solid.pt-animation-default .pt-col .pt-block:hover .btn:hover,
.csmrpt-solid.pt-animation-1 .pt-col .pt-block:hover .btn:hover,
.csmrpt-solid .pt-selected .pt-btn:focus,
.csmrpt-solid.pt-animation-default .pt-col .pt-block:hover .pt-btn:focus,
.csmrpt-solid.pt-animation-1 .pt-col .pt-block:hover .pt-btn:focus,
.csmrpt-solid .pt-selected .btn:focus,
.csmrpt-solid.pt-animation-default .pt-col .pt-block:hover .btn:focus,
.csmrpt-solid.pt-animation-1 .pt-col .pt-block:hover .btn:focus {
  -webkit-box-shadow: 0 3px 10px -3px #595959;
  box-shadow: 0 3px 10px -3px #595959;
}
.csmrpt-solid .pt-selected .pt-back,
.csmrpt-solid.pt-animation-default .pt-col .pt-block:hover .pt-back,
.csmrpt-solid.pt-animation-1 .pt-col .pt-block:hover .pt-back {
  background-color: #333;
  left: -10px;
  top: -10px;
  right: -10px;
  bottom: -10px;
}
.csmrpt-solid.pt-animation-default:hover .pt-selected .pt-back,
.csmrpt-solid.pt-animation-1:hover .pt-selected .pt-back {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.csmrpt-solid.pt-animation-default:hover .pt-selected,
.csmrpt-solid.pt-animation-1:hover .pt-selected,
.csmrpt-solid.pt-animation-2 .pt-col .pt-block {
  color: #4d4d4d;
}
.csmrpt-solid.pt-animation-default:hover .pt-selected .pt-title,
.csmrpt-solid.pt-animation-1:hover .pt-selected .pt-title,
.csmrpt-solid.pt-animation-2 .pt-col .pt-block .pt-title {
  color: #333;
}
.csmrpt-solid.pt-animation-default:hover .pt-selected .pt-sub-title,
.csmrpt-solid.pt-animation-1:hover .pt-selected .pt-sub-title,
.csmrpt-solid.pt-animation-2 .pt-col .pt-block .pt-sub-title {
  color: #595959;
}
.csmrpt-solid.pt-animation-default:hover .pt-selected .pt-sub-text,
.csmrpt-solid.pt-animation-1:hover .pt-selected .pt-sub-text,
.csmrpt-solid.pt-animation-2 .pt-col .pt-block .pt-sub-text {
  color: #404040;
}
.csmrpt-solid.pt-animation-default:hover .pt-selected .pt-back,
.csmrpt-solid.pt-animation-1:hover .pt-selected .pt-back,
.csmrpt-solid.pt-animation-2 .pt-col .pt-block .pt-back {
  background-color: #fff;
}
.csmrpt-solid.pt-animation-default:hover .pt-selected .pt-price-block,
.csmrpt-solid.pt-animation-1:hover .pt-selected .pt-price-block,
.csmrpt-solid.pt-animation-2 .pt-col .pt-block .pt-price-block {
  color: #333;
}
.csmrpt-solid.pt-animation-default:hover .pt-selected .pt-btn,
.csmrpt-solid.pt-animation-1:hover .pt-selected .pt-btn,
.csmrpt-solid.pt-animation-2 .pt-col .pt-block .pt-btn,
.csmrpt-solid.pt-animation-default:hover .pt-selected .btn,
.csmrpt-solid.pt-animation-1:hover .pt-selected .btn,
.csmrpt-solid.pt-animation-2 .pt-col .pt-block .btn {
  background-color: #333;
  color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #404040;
}
.csmrpt-solid .pt-btn,
.csmrpt-solid .btn,
.csmrpt-solid .pt-back,
.csmrpt-solid .pt-price-block,
.csmrpt-solid .pt-a-btn,
.csmrpt-solid .pt-block,
.csmrpt-solid .pt-title,
.csmrpt-solid .pt-sub-title,
.csmrpt-solid .pt-sub-text {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.csmrpt-solid.pt-animation-1 .pt-cols .pt-back {
  -webkit-transition: background-color 0.3s ease 0s;
  -moz-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  -ms-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}
.csmrpt-solid.pt-animation-1 .pt-cols .pt-selected .pt-back,
.csmrpt-solid.pt-animation-1 .pt-cols .pt-col .pt-block:hover .pt-back {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.csmrpt-solid.pt-animation-2 .pt-col .pt-block:hover .pt-back {
  left: -10px;
  top: -10px;
  right: -10px;
  bottom: -10px;
}
.csmrpt-solid.pt-animation-2:hover .pt-selected .pt-back {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.pt-content-loader.ptcl-csmrpt-solid{display:block}.pt-content-loader.ptcl-csmrpt-solid+.pt-content-loader-bar{display:none}
